@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Prompt:wght@300;400;500&family=Source+Sans+Pro&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: tomato;
    font-family:Prompt;
}

text {
    font-family:Prompt;
    font-size:10px;
}

.first {
    overflow:hidden;
    
}


.container {
    width: 1200px !important;
    
    align-content: center;
    justify-self: center;
    margin: auto;
    background-color: #a89797;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
      
  }
  
  
#tooltip {
    position:absolute;
    top:0;
    min-width:150px !important;
    padding:10px;
    background-color: rgb(70, 94, 35);
    color:#FFFFFF;
    visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.legend-text {
    font-size: 12px;   
}

#avatar,
#avatar img {
  width: 100px !important;
  height: 100px !important;
}
#avatar {
  position: fixed;
  bottom: 25px;
  right: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  border: solid 1px #000;
  border-radius: 20px;
  overflow: hidden;
}
